*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-labels{
    font-size: 30px;
}

.create-btn-control{
    height: 75px;
}

.bg-beauty{
    background:#2F4858;
}

.color-beauty{
    color: #2F4858;
}
